body {
    background: linear-gradient(to bottom, #0f3d0f, #1e7e34);
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
.navbar {
    background-color: #1e7e34;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    padding: 0 20px;
    height: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 220px; /* Espaço entre a logo e os botões */
}

.navbar .logo img {
    height: 70px;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os botões */
    align-items: center;
    gap: 30px; /* Espaçamento entre os botões */
}

.navbar li{
    background-color: #28a745;
    border-radius:1ch;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    background-color: #28a745;
    color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin-bottom: 15px;
}
h2{
    color: white;
}

#cronometro {
    margin-top: 30px;
}

#tempo {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

#partidas-info h4 {
    color: white;
    font-size: 20px;
}

#primeiro-tempo, #segundo-tempo {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.btn-success, .btn-warning, .btn-danger {
    margin: 10px;
}

.btn-cronometro {
    background-color: #1e7e34;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.btn-cronometro:hover {
    background-color:#155924; 
    color: white;
    transition: 1s;
}

/* Estilização do card que contém o placar */
.placar-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa; /* Fundo claro */
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 0 15px;
}

/* Estilização do placar */
.placar {
    font-size: 3rem; /* Tamanho maior */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placar-numero {
    background-color: #29d751; /* Cor do fundo para os números */
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 0 15px;
    font-size: 2.5rem; /* Tamanho grande para os números */
    min-width: 80px;
    text-align: center;
}

.placar-separador {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

/* Estilo do botão de gol */
.btn-gol {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    width: 150px;
    border-radius: 5px;
    background-color:#29d751;
    color: white;
    transition: background-color 0.3s;
}

.btn-gol:hover {
    background-color:#25b646;
}

/* Estilização do botão "Salvar Histórico" */
.btn-salvar {
    background-color:#1e7e34;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-salvar:hover {
    background-color: #155924;
}

/* Colocando os botões de gol e placar em uma linha */
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.progress {
    height: 20px;
    margin-top: 15px;
}

.progress-bar {
    background-color: #1e7e34;
}
