body {
    background: linear-gradient(to bottom, #0f3d0f, #1e7e34);
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #1e7e34;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    padding: 0 20px;
    height: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 220px; /* Espaço entre a logo e os botões */
}

.navbar .logo img {
    height: 70px;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os botões */
    align-items: center;
    gap: 30px; /* Espaçamento entre os botões */
}

.navbar li {
    background-color: #28a745;
    border-radius: 1ch;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Card - Centralizado abaixo da Navbar */
.card {
    background-color: #28a745;
    color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: auto; /* Centraliza o card */
    margin-top: 200px; /* Dá um espaço entre a navbar e o card */
    width: 50%; /* Controla a largura do card */
}

.card-title {
    font-weight: bold;
    font-size: 24px;
}

.card-text {
    font-size: 20px;
    margin-bottom: 30px;
}

.text-muted {
    font-size: 15px;
    color: white;
}
